* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: $bg-color;
	width: 100%;
	position: relative;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	margin: 60px 0 0;
}
section {
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}
